body {
	margin:0;
	padding:0;	
	font-family:"Special Elite", "Lato", Verdana, sans-serif;
}
#wrapper{
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0;
	padding:0;
	height: 100vh;
	width: 100vw;
	background-color:#000;
}
#content{
	position:relative;
	display:flex;
	justify-content:center;
	align-items:flex-end;
	box-sizing:border-box;
	width:960px;
	height:600px;
	background-color: #333;
	background-size:cover;
}
#startbutton{
	position:relative;
	padding:25px;
	align-self:center;
	font-family: "Macondo", Georgia, serif;
	font-size:4em;
	color:#222;
	background-color:#888;
	box-shadow: inset -5px -5px 15px 10px #111, inset 5px 5px 15px 10px #ddd, 0 0 7px 2px #111;
	text-shadow: 1px 1px 0 #bbb, -1px -1px 0 #777;
	transition: color 2s, text-shadow 2s;
}
#startbutton:hover{
	color:#5E4800;
	text-shadow: 1px 1px 0 #bbb, -1px -1px 0 #000;
}
#startbutton:active{
	box-shadow: inset 5px 5px 15px 10px #111, inset -5px -5px 15px 10px #ddd, 0 0 10px 5px #111;
	font-size:3.9em;
	text-shadow: -1px -1px 0 #bbb;
}
#startbutton p{
	margin:0;
	padding:0;
}
#coordinates{
	position:absolute;
	top:0;
	left:0;
	border:1px solid #fff;
	color:#fff;
	font-size:0.7em;
	background-color:rgba(0,0,0,0.3);
	padding:5px;
}
#itemarea {
	position:absolute;
	padding:10px;
	display:none;
	visibility:hidden;
	align-self:center;
	justify-content:center;
	max-width:700px;
	max-height:200px;
	overflow:auto;
	background-color:rgba(230,210,170,0.6);
}
#item-desc{
	box-sizing:border-box;
	text-shadow: 0 0 5px #fff;
	color: #111;
}
#item-img{
	display:flex;
	justify-content:center;
	align-items:center;
	box-sizing:border-box;
}
#item-img img{
	max-height:180px;
}
#textarea {
	display:none;
	width:960px;
	background-color:rgba(0,0,0,0.6);
}
#narration{
	font-size:1.2em;
	color:#ccc;
	text-shadow: 0 0 3px #000;
	margin:15px;
	text-align:center;
}
.answer{
	text-align:center;
	margin-bottom:10px;
	color:#fdc000;
	transition: color 0.5s;
}
.answer:hover{
	color:#fff;
}