body {
	margin:0;
	padding:0;	
	font-family:"Lora", Georgia, serif;
}
div{
	user-select:none;
	moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-o-user-select:none;
}
.wrapper{
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0;
	padding:0;
	height: 100vh;
	width: 100vw;
	background-color:#000;
}
.content{
	position:relative;
	display:flex;
	justify-content:center;
	align-items:flex-end;
	box-sizing:border-box;
	width:960px;
	height:600px;
	background-color: #333;
	background-size:cover;
}
#startbutton{
	position:relative;
	padding:25px;
	align-self:center;
	font-family: "Macondo", Georgia, serif;
	font-size:4em;
	color:#222;
	background-color:#888;
	box-shadow: inset -5px -5px 15px 10px #111, inset 5px 5px 15px 10px #ddd, 0 0 7px 2px #111;
	text-shadow: 1px 1px 0 #bbb, -1px -1px 0 #777;
	transition: color 2s, text-shadow 2s;
}
#startbutton:hover{
	color:#5E4800;
	text-shadow: 1px 1px 0 #bbb, -1px -1px 0 #000;
}
#startbutton:active{
	box-shadow: inset 5px 5px 15px 10px #111, inset -5px -5px 15px 10px #ddd, 0 0 10px 5px #111;
	font-size:3.9em;
	text-shadow: -1px -1px 0 #bbb;
}
#startbutton p{
	margin:0;
	padding:0;
}
.coordinates{
	position:absolute;
	visibility:hidden;
	top:0;
	left:0;
	border:1px solid #fff;
	color:#fff;
	font-size:0.7em;
	background-color:rgba(0,0,0,0.3);
	padding:5px;
}
.itemarea {
	position:absolute;
	display:none;
	visibility:hidden;
	align-self:center;
	max-width:700px;
	max-height:200px;
	border:6px double #000;
	background-color:rgba(230,210,170,0.8);
}
#itemarea-img{
	position:relative;
	padding:10px;
	display:flex;
	justify-content:center;
	align-items:center;
	box-sizing:border-box;
	background: url(load.gif) 50% no-repeat;
}
#itemarea-img item-img{
	max-width:100%;
}
#itemarea-text{
	margin:10px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	max-width:500px;
}
#item-desc{
	box-sizing:border-box;
	overflow:auto;
	color: #111;
	text-align:justify;
}
#item-collect{
	display:none;
	color:red;
	align-self:flex-end;
	margin-top:20px;
	font-size:1.2em;
	cursor:pointer;
}
.inventoryarea{
	position:absolute;
	visibility:hidden;
	align-self:center;
	overflow:auto;
	border:3px double #fff9d3;
	box-sizing:border-box;
	width:300px;
	height:400px;
	background-color:rgba(60,50,30,0.8);
}
#inv-title{
	box-sizing:border-box;
	margin:0 30px;
	height:50px;
	background: url('src/inv.png') 50% no-repeat;
}
#inv-list{
	list-style-type:none;
	padding:0;
	margin:0;
}
#inv-list li{
	display:flex;
	flex-wrap:nowrap;
	justify-content:space-between;
	align-items:center;
}
#inv-list li:hover{
	background-color:rgba(30,25,15,0.8);
}
#inv-list li .inv-pict{
	display:inline-block;
	margin-left:10px;
	width:40px;
	height:40px;
	box-sizing:border-box;
	background-size:contain;
	background-position:center; 
	background-repeat:no-repeat;
}
#inv-list li .inv-desc{
	display:inline-block;
	width:200px;
	padding:5px 15px 5px;
	text-align:justify;
	text-transform:uppercase;
	color:#EDE6B7;
	box-sizing:border-box;
}
#inv-list li .inv-numb{
	display:inline-block;
	width:50px;
	height:50px;
	box-sizing:border-box;
}
.textarea {
	display:none;
	width:960px;
	background-color:rgba(0,0,0,0.6);
}
#narration{
	text-align:center;
	text-shadow: 0 0 3px #000;
	color:#bbb;
	margin:15px;
}
.answer{
	font-family:"Special Elite", Georgia, sans-serif;
	text-align:center;
	margin-bottom:10px;
	color:#fdc000;
	transition: color 0.5s;
}
.answer:hover{
	color:#fff;
}